<form nz-form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
  <nz-form-item>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="name" formControlName="name" placeholder="Nome" />
      <nz-form-explain *ngIf="profileForm.get('name')?.dirty && profileForm.get('name')?.errors">Por favor,
        introduce o teu nome!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="firstSurname" formControlName="firstSurname" placeholder="Primeiro apelido" />
      <nz-form-explain *ngIf="profileForm.get('firstSurname')?.dirty && profileForm.get('firstSurname')?.errors">Por
        favor
        introduce o teu primer apelido!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="secondSurname" formControlName="secondSurname" placeholder="Segundo apelido" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="nif" formControlName="nif" placeholder="NIF/Documento de identidade" />
      <nz-form-explain *ngIf="profileForm.get('nif')?.dirty && profileForm.get('nif')?.errors">Por favor,
        introduce oteu documento de identidade!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="address" formControlName="address" placeholder="Enderezo" />
      <nz-form-explain *ngIf="profileForm.get('address')?.dirty && profileForm.get('address')?.errors">Por favor
        introduce o teu enderezo!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="zipCode" formControlName="zipCode" placeholder="Código Postal" />
      <nz-form-explain *ngIf="profileForm.get('zipCode')?.dirty && profileForm.get('zipCode')?.errors">Por favor,
        introduce o teu código ou distrito postal!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="country" formControlName="country" placeholder="País" />
      <nz-form-explain *ngIf="profileForm.get('country')?.dirty && profileForm.get('country')?.errors">Por favor,
        introduce o teu país!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="phoneNumber" formControlName="phoneNumber" placeholder="Teléfono" />
      <nz-form-explain *ngIf="profileForm.get('phoneNumber')?.dirty && profileForm.get('phoneNumber')?.errors">Por
        favor,
        introduce o teu número de teléfono!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-date-picker id="birthday" formControlName="birthday" placeholder="Data de nacemento"></nz-date-picker>
      <nz-form-explain *ngIf="profileForm.get('birthday')?.dirty && profileForm.get('birthday')?.errors">Por favor,
        introduce a túa data de nacemento!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row style="margin-bottom:8px;">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" [disabled]="!profileForm.valid" routerLink="/purchase">Confirmar os
        teus
        datos</button>
    </nz-form-control>
  </nz-form-item>
</form>