<form nz-form [formGroup]="accountForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">Correo electrónico</nz-form-label>
    <nz-form-label [nzSm]="6" [nzXs]="24">jeremias@yopmail.com</nz-form-label>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password">Contrasinal</nz-form-label>
    <nz-form-label [nzSm]="6" [nzXs]="24" type="password">Password</nz-form-label>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>
      <span>
        Nome
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="name" formControlName="name" />
      <nz-form-explain *ngIf="accountForm.get('name')?.dirty && accountForm.get('name')?.errors">Por favor,
        introduce o teu nome!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastName" nzRequired>
      <span>
        Primer apelido
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="firstSurname" formControlName="firstSurname" />
      <nz-form-explain *ngIf="accountForm.get('firstSurname')?.dirty && accountForm.get('firstSurname')?.errors">Por
        favor
        introduce o teu primer apelido!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="secondSurname">
      <span>
        Segundo apelido
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="secondSurname" formControlName="secondSurname" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nif" nzRequired>
      <span>
        NIF/Documento de identidade
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="nif" formControlName="nif" />
      <nz-form-explain *ngIf="accountForm.get('nif')?.dirty && accountForm.get('nif')?.errors">Por favor,
        introduce oteu documento de identidade!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address" nzRequired>
      <span>
        Enderezo
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="address" formControlName="address" />
      <nz-form-explain *ngIf="accountForm.get('address')?.dirty && accountForm.get('address')?.errors">Por favor
        introduce o teu enderezo!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="zipCode" nzRequired>
      <span>
        Código Postal/Distrito Postal
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="zipCode" formControlName="zipCode" />
      <nz-form-explain *ngIf="accountForm.get('zipCode')?.dirty && accountForm.get('zipCode')?.errors">Por favor,
        introduce o teu código ou distrito postal!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="country" nzRequired>
      <span>
        País
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="country" formControlName="country" />
      <nz-form-explain *ngIf="accountForm.get('country')?.dirty && accountForm.get('country')?.errors">Por favor,
        introduce o teu país!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>
      <span>
        Teléfono
      </span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input id="phoneNumber" formControlName="phoneNumber" />
      <nz-form-explain *ngIf="accountForm.get('phoneNumber')?.dirty && accountForm.get('phoneNumber')?.errors">Por
        favor,
        introduce o teu número de teléfono!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Data de nacemento</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-date-picker id="birthday" formControlName="birthday"></nz-date-picker>
      <nz-form-explain *ngIf="accountForm.get('birthday')?.dirty && accountForm.get('birthday')?.errors">Por favor,
        introduce a túa data de nacemento!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row style="margin-bottom:8px;">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button moPreventDefault nz-button nzType="primary">Confirmar os teus datos</button>
    </nz-form-control>
  </nz-form-item>
</form>