@import '../../../../scss/colors.scss';

:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px 1fr 50px;
  height: 100%;
  margin: 0 auto;

  mo-site-layout-header {
    background-color: $white;
  }
  mo-site-layout-footer {
    background-color: $main;
  }
  

}
