// Color Palette

// $main: #9c528b;
// $light: #e2c2c6;
// $dark: #610f7f;
// $contrast: #b9929f;
// $white: #f9f3f4;
// $error: #e04b6b;


$main: #0086BE;
$light: #8FF7A7;
$dark: #F4E76E;
$contrast: #F7FE72;
$white: #FFFFFF;
$error: #757761;

// $main: #68C5DB;
// $light: ##448FA3;
// $dark: #0086BE;
// $contrast: #02182B;
// $white: #FFFFFF;
// $error: #D7263D;

// $main: #094074;
// $light: #3C6997;
// $dark: #0086BE;
// $contrast: #FFDD4A;
// $white: #FFFFFF;
// $error: #FE9000;

// $main: #003466;
// $light: #0086BE;
// $dark: #51C7FF;
// $contrast: #B2E9FF;
// $white: #FFFFFF;
// $error: #2F8AC6;

// $main: #0086BE;
// $light: #95AFBA;
// $dark: #BDC4A7;
// $contrast: #D5E1A3;
// $white: #FFFFFF;
// $error: #E2F89C;
