@import '../../../../scss/colors.scss';
.back {
  background-image: url(../../../../../src/assets/Images/pulpo-fondo-bn.png);
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed; /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
  background-size: cover; /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
  background-color: $white;  
  display: flex;
  justify-content: center;
  }
