<div class="box">
  <h1>E ti, ¿de quen ves sendo?</h1>
  <!-- <div class="aboutContent"> -->
  <p>
    Somos Fina e Tino, dous galegos na diáspora ós que nos pode a morriña.
  </p>
  <p>
    Despois de 30 anos en Suiza, dalle que te dalle, traballando, criando nenos e agora netos,
    por fin nos xubilamos. Cos aforros de toda a vida, estámonos facendo un pazo en Avión.
  </p>
  <p>
    Tantos aniños fora da nosa querida Galiza e a súa fantástica gastronomia servíronnos para inxeniárnola para poder
    disfrutar dun cocido no medio de Ginebra: Veñen visitas e tráennos grelos, a nai de alguén
    envía un paquete, viaxamos no verán á aldea e traermos unha maleta ata arriba de queixo e licor café...
  </p>
  <p>
    Agora que temos tempo e que o noso pequeno galopín nos apareceu cun ordenador de agasallo, propuxémosnos o
    seguinte:
    Que ningún galego vova a sentir nostalxia da comidiña da casa. Na nosa tendiña online atoparedes case todos os
    productos máis típico da nosa gastronomía galega, packs temáticos (como o noso
    Pack de Entroido) e un porrón de cousas máis que nos van chegando.
  </p>
  <p>
    Fina e Tino
    <p>
      <!-- </div> -->
</div>