<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixUser">
        <input formControlName="email" nz-input placeholder="Correo electónico" />
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('email')?.dirty && validateForm.get('email')?.errors">Please input
        your email!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixLock">
        <input formControlName="password" nz-input type="password" placeholder="Contrasinal" />
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors">Please input
        your Password!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">Acceder</button>
      ou podes
      <a href="">rexistrarte agora</a>
    </nz-form-control>
  </nz-form-item>
</form>
<ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>

<img src="../../../../../Images/logo_prueba.jpg">
<a routerLink="/">
  <div>
    <p>{{ title }}</p>
  </div>
</a>
<nav>
  <a routerLink="/productos">Productos</a>
  <a routerLink="/packs">Packs Morriña</a>
  <a routerLink="/sobre-nos">Sobre nós</a>
</nav>