<div nz-row class="login-header width-100">
  <div class="mg-top">
    <mo-acceso></mo-acceso>
  </div>
</div>
<span>
  <mo-register></mo-register>
</span>



<div nz-row class="logo">
  <img routerLink="/" class="logo" src="../../../../assets/Images/logo-morriña-versión-cuadrada.png">
</div>
<div nz-row class="width-100">
  <nav>
    <ul>
      <li>
        <!-- <a class="menu" routerLink="/produtos">Produtos</a> -->
        <a class="menu">Produtos</a>
      </li>
      <li>
        <a class="menu" routerLink="/packs">Packs Morriña</a>
      </li>
      <li>
        <a class="menu" routerLink="/sobre-nos">Sobre nós</a>
      </li>
    </ul>
  </nav>

</div>