<!-- <div nz-row>
  <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
    Col
  </div>
  <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
    Col
  </div>
  <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="8" nzXl="4"> -->
<span class="mg-top">
  <mo-acceso class="mg-top"></mo-acceso>
</span>
<!-- </div>
</div> -->

<span>
  <mo-rexistro></mo-rexistro>
</span>
<!-- <div nz-row class="logo">
  <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10"></div>
  <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="8" nzXl="4"> -->
<img routerLink="/" class="logo" src="../../../../assets/Images/logo-morriña-versión-cuadrada.png">
<!-- </div>
  <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10"></div>
</div> -->
<nav>
  <ul>
    <li>
      <!-- <a class="menu" routerLink="/produtos">Produtos</a> -->
      <a class="menu">Produtos</a>
    </li>
    <li>
      <a class="menu" routerLink="/packs">Packs Morriña</a>
    </li>
    <li>
      <a class="menu" routerLink="/sobre-nos">Sobre nós</a>
    </li>
  </ul>
</nav>