@import '../../../../scss/colors.scss';


p {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  font-size: 1em;
  margin: 0 10px;
  // justify-self: start;
  color: black;
  }
