<ng-container *ngIf="currentUser; else session">
  <nz-form-item>
    <nav>
      <ul>
        <li>
          <a routerLink="/account" (click)="getUserProfile()">A miña conta</a>
        </li>
        <li>
          <a (click)="logoutUser()">Pechar sesión <fa-icon [icon]="logoutIcon"></fa-icon></a>
        </li>
      </ul>
    </nav>
  </nz-form-item>
</ng-container>
<ng-template #session>
  <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control>
        <nz-form-explain *ngIf="validateForm.get('email')?.dirty && validateForm.get('email')?.errors">Por favor,
          introduce o teu correo electrónico!</nz-form-explain>
        <nz-input-group [nzPrefix]="prefixUser">
          <input formControlName="email" nz-input placeholder="Correo electónico" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors">Por favor,
          introduce o teu contrasinal!</nz-form-explain>
        <nz-input-group [nzPrefix]="prefixLock">
          <input formControlName="password" nz-input type="password" placeholder="Contrasinal" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button (click)="login()" nzType="primary" [disabled]="!validateForm.valid">Acceder</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <div>
    ou podes
    <a moPreventDefault href="" (click)="openPopupRegister()" class="popup-link">rexistrarte agora</a>
  </div>
  <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
  <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>

</ng-template>