a {
  color: #000;
}

nz-header {
  background: #7dbcea;
  color: #fff;
}

nz-header {
  height: 12%;
}
nz-footer {
  background: #7dbcea;
  color: #fff;
}

nz-footer {
  line-height: 2.5;
}

nz-content {
  background: rgba(16, 142, 233, 1);
  color: #fff;
  min-height: 120px;
  line-height: 120px;
}
